[submodule "OneDrive/Documentos/teste_Python/OneDrive/Documentos/teste_Python/env/automacao"]
	path = OneDrive/Documentos/teste_Python/OneDrive/Documentos/teste_Python/env/automacao
	url = https://github.com/Sharonssf/Testes_Develop_python.git
